[project]
	description = "Inversion of Control for command line in Java. Mapping arguments to object methods.  Driven by annotations and naming conventions."
[access "refs/*"]
	owner = group user/Dmitry Sidorenko (ushkinaz)
[access "refs/for/refs/*"]
	read = group user/Dmitry Sidorenko (ushkinaz)
	push = group user/Dmitry Sidorenko (ushkinaz)
	label-Code-Review = -2..+2 group user/Dmitry Sidorenko (ushkinaz)
	label-Verified = -1..+1 group user/Dmitry Sidorenko (ushkinaz)
	rebase = group user/Dmitry Sidorenko (ushkinaz)
	removeReviewer = group user/Dmitry Sidorenko (ushkinaz)
	submit = group user/Dmitry Sidorenko (ushkinaz)
[access "refs/heads/*"]
	read = group user/Dmitry Sidorenko (ushkinaz)
	create = group user/Dmitry Sidorenko (ushkinaz)
	push = +force group user/Dmitry Sidorenko (ushkinaz)
	pushMerge = group user/Dmitry Sidorenko (ushkinaz)
[access "refs/tags/*"]
	push = +force group user/Dmitry Sidorenko (ushkinaz)
	pushTag = group user/Dmitry Sidorenko (ushkinaz)
	pushSignedTag = group user/Dmitry Sidorenko (ushkinaz)
